.header {
    height: 112px;
    width: 100%;
    border-bottom: 2px solid var(--color-accent-biloba-flower-primary);
    padding: 16px;
    display: flex;
    justify-content: center;
}

.header > div {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotype > a {
    all: unset;
    cursor: pointer;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    gap: 0;
}

.logotype span:first-child {
    font-weight: 700;
}

.logotype span:last-child {
    font-weight: 300;
}

.avatar {
    cursor: pointer;
}

.avatar > img {
    width: 48px;
    height: 48px;
    border-radius: 100px;
}
