#gift-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
}

@media (max-width: 1080px) {
    #gift-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 860px) {
    #gift-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 520px) {
    #gift-cards {
        grid-template-columns: 1fr;
    }
}
