@font-face {
    font-family: 'Roc Grotesk';
    font-weight: 300;
    font-style: normal;
    src: url('/src/assets/fonts/roc-grotesk-wide-light.otf') format('otf'),
}

@font-face {
    font-family: 'Roc Grotesk';
    font-weight: 400;
    font-style: normal;
    src: url('/src/assets/fonts/roc-grotesk-wide.otf') format('otf'),
}

@font-face {
    font-family: 'Roc Grotesk';
    font-weight: 500;
    font-style: normal;
    src: url('/src/assets/fonts/roc-grotesk-wide-medium.otf') format('otf');
}

@font-face {
    font-family: 'Roc Grotesk';
    font-weight: 700;
    font-style: normal;
    src: url('/src/assets/fonts/roc-grotesk-wide-extrabold.otf') format('otf');
}

:root {
    /* Colors */
    --color-accent-biloba-flower-primary: #B49CFA;
    --color-accent-biloba-flower-secondary: #C4B6FC;
    --color-accent-biloba-flower-tertiary: #EDE9FE;
    
    --color-accent-sulu-primary: #B9FF66;
    --color-accent-sulu-secondary: #D2FF95;
    --color-accent-sulu-tertiary: #E9FFC7;
    
    --color-accent-classic-rose-primary: #FFC4DD;
    --color-accent-classic-rose-secondary: #FEE5EF;
    --color-accent-classic-rose-tertiary: #FEF1F6;

    --color-typography-light-primary: #090909;
    --color-typography-light-secondary: #A5A5A5;
    --color-typography-dark-primary: #FFFFFF;
    --color-typography-dark-secondary: #A5A5A5;

    --color-background-primary: #090909;
    --color-background-secondary: #464646;
    --color-background-inverse: #FFFFFF;

    /* Typography */
    --typography-primary-family: 'Roc Grotesk', sans-serif;
    --typography-primary-weight: 500;

    --typography-primary-size-s: 14px;
    --typography-primary-size-m: 16px;
    --typography-primary-size-l: 20px;
    
    --typography-primary-line-height-s: 18px;
    --typography-primary-line-height-s: 24px;
    --typography-primary-line-height-s: 24px;
    
    --typography-secondary-family: Inter, sans-serif;
    --typography-secondary-weight: 400;
    --typography-secondary-size-s: 12px;
    --typography-secondary-line-height-s: 16px;
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--color-background-primary);
    color: var(--color-typography-dark-primary);
    font-family: 'Roc Grotesk', Inter, sans-serif, monospace;
    font-size: var(--font-size-text-m);
    height: 100%;

}

.header {
    height: 128px;
    border-bottom: 2px solid var(--color-accent-biloba-flower-primary);
    padding: 24px 32px;
    display: flex;
    justify-content: center;
}

.header > .header--mobile {
    display: none;
}

.header > div {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotype > a {
    all: unset;
    cursor: pointer;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    gap: 0;
}

.logotype span:first-child {
    font-weight: 700;
}

.logotype span:last-child {
    font-weight: 300;
}

.actions {
    display: flex;
    gap: 24px;
}

.actions--collapsed {
    display: none;
}

.main {
    padding: 24px 32px;
    display: flex;
    justify-content: center;
}

.main > div {
    height: 100%;
    width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.wishlist-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.gift-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
}

.navigation--mobile {
    height: 124px;
    padding: 24px 16px 36px 16px;
    background-color: var(--color-background-secondary);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.navigation--mobile > ul {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

@media (max-width: 1080px) {
    .actions--collapsed {
        display: initial;
    }

    .actions--expanded {
        display: none;
    }

    .gift-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 860px) {
    .gift-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 521px) {
    .navigation--mobile {
        display: none;
    }
}

@media (max-width: 520px) {
    .header > .header--desktop {
        display: none;
    }

    .header {
        height: 112px;
        width: 100%;
        border-bottom: 2px solid var(--color-accent-biloba-flower-primary);
        padding: 16px;
    }
    
    .header > .header--mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logotype > a {
        font-size: 32px;
    }

    .avatar {
        cursor: pointer;
    }

    .avatar > img {
        width: 48px;
        height: 48px;
        border-radius: 100;
    }

    .main {
        padding-bottom: calc(24px + 124px);
        display: flex;
        justify-content: center;
    }

    .main > div {
        gap: 24px;
    }

    .gift-cards {
        grid-template-columns: 1fr;
    }
}
